
*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
    list-style:none;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}


:root{
    --text-color: #fff; 
    --bg-color: #000; 
    --main-color: #E50914; /*#ffa343;*/
    --h1-font: 6rem;
    --h2-font: 3rem;
    --p-font: 1rem;
}

body {
    color: var(--text-color); 
    background: var(--bg-color);
}


header{
    position: fixed; 
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    background: transparent;
    padding: 27px 17%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .50s ease;
}


/* DESIGN HEADER */

.logo{
    font-size: 33px;
    color: var(--text-color);
    font-weight: 700;
}

span{
    color: var(--main-color);
}

.navbar{
    display: flex;
}

.navbar a{
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 500;
    margin: 15px 22px;
    transition: all .50s ease;
}

.h-right{ 
    display: flex;
    align-items: center;
}

.h-right a:first-child{
    color: var(--text-color);
    font-size: var(--p-font);
    margin-right: 20px;
}

.h-right a{ 
    vertical-align: middle;
    font-size: 20px;
    color: var(--text-color);
    margin-right: 18px;
    margin-left: 5px;
    transition: all .50s ease;
}

.h-right a:hover{
    color: var(--main-color);
    transform: translateY(-3px);
}

#menu-icon{
    color: var(--text-color);
    font-size: 30px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

section{
    padding: 70px 17% 60px;
}

.loginButton {
    position: relative;
    overflow: hidden;
    height: 2rem;
    padding: 0 1.5rem;
    border-radius: 1rem;
    background: #ffffff;
    background-size: 400%;
    border: none;
    cursor: pointer;
    margin-right: 20px;
  }
  


  .loginButton:hover::before {
    transform: scaleX(1);
  }
  
  .loginButton-content {
    position: relative;
    z-index: 1;
    
  }

.loginButton-content:hover {
    color: #ffffff; 
}

.loginButton:hover .loginButton-content {
    color: #ffffff; /* Questa linea cambia il colore del testo del bottone quando il cursore passa sopra */
}
  
  .loginButton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: var(--main-color);
    transition: all 0.475s;
  }

/* DESIGN HOME INIZIO*/
.home{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to left, rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url(Image/Home/Sfondo/sfondo_ParkFreender.png);
    background-size: cover;
    background-position: bottom center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.home-text h5{ 
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
    Letter-spacing: 6px; 
    color: var(--main-color);
}

.home-text h1{ 
    font-size: var(--h1-font);
    font-weight: 800;
    Line-height: 1.2;
    margin-bottom: 20px;
}



.home-text p{ 
    font-size: var(--p-font);
    font-weight: 500;
    Line-height: 30px; 
    color: #ffffffab; 
    margin-bottom: 35px;
}


/*UIVERSE BUTTON*/
.swipe {
    position: relative;
    background-color: #F1F7F7;
    width: 200px;
    height: 60px;
    color: rgb(0, 0, 0);
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    letter-spacing: 2px;
    border-top: 0.5px solid rgba(0, 0, 0, 0.35);
    border-left: 0.5px solid rgba(0, 0, 0, 0.35);
    padding-left: 40px;
    cursor: pointer;
    transition: 0.8s ease;
}
  
.swipe:hover {
    padding-left: 0;
    padding-right: 40px;
    color: #324B4C;
}
  
.container {
    position: absolute;
    left: 5px;
    width: 50px;
    height: 50px;
    background: var(--main-color);
    border-radius: 50%;
    transition: 0.8s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f1f4f7;
}
  
.swipe:hover .container {
    left: calc(100% - 55px);
    color: #324B4C;
}



header.sticky{
    padding: 8px 17%;
    background: transparent;
    backdrop-filter: blur(35px);
}

.bestUsers-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    align-items: center;
    text-align: center;
    gap: 3rem;
}

.best-users-title {
    font-size: var(--h2-font);
    font-weight: 800;
    margin-top: -2rem; 
}


.row-img{
    overflow: hidden; 
    width: 100px;
    height: 100px;
    margin: 0 auto; 
    margin-bottom: 20px; 
    border-radius: 50%; 
    cursor: pointer;
}


.row-img img{
    width: 100%; 
    display: block;
    transition: transform 0.7s;
}


.row-img img:hover{ 
    transform: scale(1.2);
}


.bestUsers-content h4{
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    transition: all .50s ease;
}

.bestUsers-content h4:hover{ 
    color: var(--main-color);
}

.center-text {
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 3rem;
}

.userMap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 9rem;
}

.userMap-img img{ 
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.userMap-text h5{
    font-size: 22px; 
    font-weight: 600;
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 6px; 
    margin-bottom: 20px;
}

.userMap-text h2{
    font-size: var(--h2-font); 
    font-weight: 800; 
    line-height: 1.2;
    margin-bottom: 25px;
}

.userMap-text p{
    font-size: var(--p-font);
    font-weight: 500;
    Line-height: 30px; 
    color: #ffffffab; 
    margin-bottom: 35px;
}


.center-text{
    text-align: center;
}

.center-text h2{
    font-size: var(--h2-font);
    font-weight: 800;
}


.popular-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}


.box{
    position: relative;
}

.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness (70%);
    transition: all .3s cubic-bezier(.499,.05,.55,.95);
    will-change: filter;
    display: block;
}


.box h6{
    position: absolute; 
    left: 25px; 
    bottom: 95px; 
    font-size: 18px; 
    font-weight: 500;
}

.box h4{
    position: absolute;
    Left: 25px;
    bottom: 65px;
    font-size: 20px; 
    font-weight: 700;
}


.box img:hover{
    filter: brightness(90%) hue-rotate(50deg); 
    transform: scale(1.04);
    cursor: pointer;
}

/*Pulsante explore*/
.exploreButton {
    width: 110px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    background-color: var(--main-color);
    border-radius: 30px;
    color: white;
    font-weight: 600;
    border: none;
    position: relative;
    cursor: pointer;
    transition-duration: .2s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
    padding-left: 8px;
    transition-duration: .5s;
  }
  
  .svgIcon {
    height: 25px;
    transition-duration: 1.5s;
  }
  
  .bell path {
    fill: rgb(255, 255, 255);
  }
  
  .exploreButton:hover {
    background-color: var(--main-color);
    transition-duration: .5s;
  }
  
  .exploreButton:active {
    transform: scale(0.97);
    transition-duration: .2s;
  }
  
  .exploreButton:hover .svgIcon {
    transform: rotate(250deg);
    transition-duration: 1.5s;
  }
  
  

  /*Fine explore button*/
  
.center-btn{ 
    display: flex; /* Aggiunto per centrare il bottone */
    justify-content: center; /* Aggiunto per centrare il bottone */
    align-items: center; /* Aggiunto per centrare il bottone */
    height: 10vh; /* Aggiunto per centrare il bottone */
}



.Culture{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 9rem;
}

.Culture-img img{ 
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.Culture-text h5{
    font-size: 22px; 
    font-weight: 600;
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 6px; 
    margin-bottom: 20px;
}

.Culture-text h2{
    font-size: var(--h2-font); 
    font-weight: 800; 
    line-height: 1.2;
    margin-bottom: 25px;
}

.Culture-text p{
    font-size: var(--p-font);
    font-weight: 500;
    Line-height: 30px; 
    color: #ffffffab; 
    margin-bottom: 35px;
}



.newsletter-content { 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.newsletter-text h2 {
    font-size: var(--h2-font);
    font-weight: 800;
    margin-bottom: 15px;
}
    
.newsletter-text p {
    font-size: var(--p-font);
    font-weight: 500;
    color: #ffffffab;
}

.newsletter-content form { 
    display: grid;
    grid-template-columns: 1fr 0.4fr;
    gap: 1rem;
}

.newsletter-content form input:first-child {
    padding: 15px;
    background: #202020; 
    font-size: var(--p-font);
    color: var(--text-color);
    border-radius: 5px;
}



@media (max-width: 1700px){
    header{
        padding: 18px 8%;
    }
    header.sticky{
        padding: 7px 8%;
    }
    section{
        padding: 50px 8% 40px;
    }
}

@media (max-width: 1200px){
    header{
        padding: 14px 5%;
    }
    header.sticky{
        padding: 7px 5%;
    }
    section{
        padding: 45px 5% 35px;
    }
    :root{
        --h1-font: 4.6rem;
        --h2-font: 2.8rem;
        --p-font: 15px;
    }
    .home{
        height: 90vh;
    }
}


@media (max-width: 1050px) { 
    .bestUsers-content{ 
        gap: 1.5rem;
    }
    .userMap{
        gap: 3rem;
    }
    .Culture{ 
        gap: 3rem;
    }
    #menu-icon{ 
        display: block;
    }
    .navbar{
        position: absolute; 
        width: 100%;
        height: 100vh;
        padding: 40px 60px;
        top: 0;
        bottom: 0;
        left: 100%;
        right: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        transition: all .50s ease;
    }
    
    .navbar a{
        display: block;
        color: #979797; 
        padding: 0;
        margin: 0px 0px 40px 0px; 
        font-size: 2.2rem; 
        font-weight: 400;
    }

    .navbar.open{
        left: 0px;
    }
}


@media (max-width: 800px) {
    .userMap{
        grid-template-columns: 1fr;
    } 
    .Culture{
        grid-template-columns: 1fr;
    }
    .newsletter-content{
        grid-template-columns: 1fr;
    }
}


@media (max-width: 600px) {
    :root{
        --h1-font: 3.5rem;
        --h2-font: 2.1rem;
    }

    .home{
        height: 85vh;
    }
}
 
@media (max-width: 450px){
    header{
        padding: 12px 3%;
    }
    header.sticky{
        padding: 7px 3%;
    }
    section{
        padding: 60px 3% 50px;
    }
}




/* PAGINA 2 FREEPARK */
.rounded-image {
    width: 100%;
    border-radius: 20px;
    margin: 20px 0;
}

.mapFree-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 3rem;
}

.center-text2{
    margin-top: 2rem;
    text-align: left;
}

.center-text2 h1{
    font-size: var(--h2-font);
    font-weight: 800;
    margin: 20px 0;
}

.center-text21{
    margin-top: -7rem;
    text-align: left;
}

.center-text21 h1{
    font-size: var(--h2-font);
    font-weight: 800;
    margin: 20px 0;
}

/* CARD FOR PARKING */

.card {
    width: 300px;
    position: relative;
    background: #383434;
    padding: 20px;
    border-radius: 25px;
    margin: 0 auto 20px auto; /* Imposta i margini per centrare le card */

  }

  .card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Aggiungi questa linea */
    border-radius: 15px;
  }
  
  
  .card::after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 50%;
    height: 10px;
    bottom: 15px;
    right: 0;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
    transform: rotate(5deg);
    transition: all 0.1s ease-in;
  }
  
  .card::before {
    z-index: -1;
    content: "";
    position: absolute;
    width: 50%;
    height: 10px;
    bottom: 15px;
    left: 0;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
    transform: rotate(-5deg);
    transition: all 0.1s ease-in;
  }
  
  .card:hover:before, .card:hover:after {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.6);
  }
  
  .card:hover:before {
    transform: rotate(-8deg);
  }
  
  .card:hover:after {
    transform: rotate(8deg);
  }
  
  .card__img {
    position: relative;
    background: var(--main-color);
    width: 100%;
    height: 175px;
    border-radius: 25px;
  }
  
  
  .card-int {
    padding: 20px 0 0 0;
  }
  
  .card-int__title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #ffffff;
  }
  
  .card-int__button {
    cursor: pointer;
    margin: 20px 0 0 0;
    padding: 7px 20px;
    width: 100%;
    background-color: rgb(255, 216, 216);
    border: none;
    color: black;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
    transition: box-shadow 0.1s ease-in;
    user-select: none;
    border-radius: 25px;
  }
  
  .card-int__button:active {
    box-shadow: 0px 0px 15px rgba(0, 119, 255, 0.5);
  }
  
  .card-int__button:hover::before {
    animation: effect_two 0.4s 1;
  }
  
  .card-int__button::before {
    content: 'Go to the parking page';
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: var(--main-color);
    background: linear-gradient(315deg, #990000, #ff6666);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-99%);
    z-index: 1;
    animation: effect_one 10s infinite;
  }
  
  .card-int__button:hover::before {
    transform: translateX(0%);
  }
  
  .excerpt {
    font-size: 14px;
    color: #ffffff;
  }
  
  @keyframes effect_one {
    0% {
      transform: translateX(-99%);
    }
  
    25% {
      transform: translateX(-90%);
    }
  
    50% {
      transform: translateX(-80%);
    }
  
    75% {
      transform: translateX(-95%);
    }
  
    100% {
      transform: translateX(-99%);
    }
  }
  
  @keyframes effect_two {
    to {
      transform: translateX(-1%);
    }
  
    from {
      transform: translateX(-99%);
    }
  }
/* FINE CARD PARKING */


.card-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Modifica questa linea */

}

.excerpt strong {
    font-weight: bold;
}





.title {
    margin: 20px 0 0 20px; /* Margine: top, right, bottom, left */
    color: white; /* Colore del testo */
}


  /* PAGINA PARCHEGGIO SPECIFICO */

.specificMap{
    border-radius: 25px;
}
  .about4page{
    width: 100%;
    padding: 78px 0px; 
    margin-top: 5rem;
}

.about4page img{
    height: auto;
    width: 420px;
}

.about4page-parkingText4{ 
    width: 550px;
}

.main4page{
    width: 1130px; 
    max-width: 95%; 
    margin: 0 auto; 
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about4page-parkingText4 h1{
    color: white;
    font-size: 80px;
    text-transform: capitalize; 
    margin-bottom: 20px;
}

.about4page-parkingText4 h5{
    color: white; 
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}


.about4page-parkingText4 p{
    color: #fcfcfc;
    letter-spacing: 1px; 
    line-height: 28px; 
    font-size: 18px; 
    margin-bottom: 45px;
}


/* recensioni */
/* recensioni */
.reviewCard {
  width: calc(49% - 20px); /* Imposta la larghezza al 49% meno i margini */
  height: 250px; /* Imposta un'altezza fissa per uniformare i box */
  overflow: hidden; /* Nasconde il contenuto che esce dai limiti del box */
  margin: 10px; /* Margine per separare i box */
  background-color: #333; /* Colore di sfondo */
  color: #fff; /* Colore del testo */
  border-radius: 10px; /* Angoli arrotondati */
  padding: 20px; /* Padding interno */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Allinea gli elementi all'inizio */
  box-sizing: border-box; /* Assicurati che il padding sia incluso nella larghezza e altezza */
}

.reviewCard:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.reviewImage {
  width: 50px;
  height: 50px;
  margin-bottom: 10px; /* Spazio sotto l'immagine */
  border-radius: 10px;
  background: linear-gradient(#d7cfcf, #9198e5);
}

.reviewCard:hover > .reviewImage {
  transition: 0.5s ease-in-out;
  background: linear-gradient(#9198e5, #712020);
}

.reviewTextBox {
  width: 100%; /* Assicura che il testo occupi tutta la larghezza disponibile */
  color: white;
  font-family: 'Poppins', sans-serif;
}

.reviewTextContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reviewTitle {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px; /* Spazio sotto il titolo */
}

.reviewDescription {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Mostra massimo 4 linee di testo */
  -webkit-box-orient: vertical;
}

.reviewGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Distribuisce lo spazio tra i box delle recensioni */
  gap: 20px; /* Spaziatura tra i box */
  width: 100%; /* Assicura che il contenitore utilizzi tutta la larghezza disponibile */
}

.reviewCard img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.Reviewscontainer {
  display: flex;
  justify-content: center;
  width: 100%; /* Assicura che il contenitore utilizzi tutta la larghezza disponibile */
}

.review-text {
  text-align: left; /* Allinea il testo a sinistra */
  padding-left: 18rem; /* Mantieni lo stesso padding per il titolo */
}

.review-text h2 {
  font-size: var(--h2-font);
  font-weight: 800;
  margin-bottom: -2rem;
}








/* action button */
.button-container-action {
    display: flex;
    gap: 10px; /* Spazio tra i pulsanti */
    align-items: flex-start;
}

.button-container-action button {
    margin-bottom: 10px; /* Aggiunge spazio tra i pulsanti */
}



.actionClicked {
    fill: red;
}


.actionButton {
    background: none;
    border: none;
    padding: 15px 15px;
    border-radius: 10px;
    cursor: pointer;
    align-self: flex-start;
}

.actionButton:hover {
    background: rgba(170, 170, 170, 0.062);
    transition: 0.5s;
}

.actionButton svg {
    color: #fff;
}

.about4page-parkingText4 p {
    margin-bottom: 20px; /* Riduci il margine inferiore del paragrafo */
}


/* FORM PER INVIARE LA RECENSIONE */

.form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    backdrop-filter: blur(5px); /* Aggiungi questa linea */
  }
  
  .hidden {
    display: none;
  }

  
.review-form-container {
    width: 400px;
    background: linear-gradient(#212121, #212121) padding-box,
    linear-gradient(315deg, #990000, #ff6666) border-box;
    border: 2px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    background-size: 200% 100%;
    animation: gradient 5s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  
  .review-form-container button:active {
    scale: 0.95;
  }
  
  .review-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }
  
  .review-form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .review-form-group label {
    display: block;
    margin-bottom: 5px;
    color: #717171;
    font-weight: 600;
    font-size: 12px;
  }
  
  .review-form-group input,
  .review-form-group textarea {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
  }
  
  .review-form-group textarea {
    resize: none;
    height: 96px;
  }
  
  .review-form-group input::placeholder {
    opacity: 0.5;
  }
  
  .review-form-group input:focus,
  .review-form-group textarea:focus {
    outline: none;
    border-color: var(--main-color);
  }
  
  .review-form-submit-btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    font-family: inherit;
    color: #717171;
    font-weight: 600;
    width: 40%;
    background: #313131;
    border: 1px solid #414141;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
  }
  
  .review-form-submit-btn:hover {
    background-color: #fff;
    border-color: #fff;
  }
  
  .rating {
    display: inline-block;
  }
  
  .rating input {
    display: none;
  }
  
  .rating label {
    float: right;
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s;
  }
  
  .rating label:before {
    content: '\2605';
    font-size: 30px;
  }
  
  .rating input:checked ~ label,
  .rating label:hover,
  .rating label:hover ~ label {
    color: var(--main-color);
    transition: color 0.3s;
  }
  
  /* FINE FORM RECENSIONE */